$hours: 6, 7, 8, 20, 21;

$border-gray: rgba(125, 125, 125, 0.5);

@mixin unselectable() {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

:host {
  width: 100vw;
  height: 100vh;
  display: block;
  overflow: hidden;

  * {
    font-family: sans-serif;
  }

  .calendar {
    display: grid;
    grid-template-columns: 50px repeat(7, 1fr);
    grid-auto-rows: minmax(auto, auto);

    &__header {
      display: flex;
      justify-items: center;
      justify-content: center;
      vertical-align: middle;
      font-size: 20px;
      text-align: center;
      font-weight: bold;
      background-color: $border-gray;
      height: 5vh;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        right: 0;
        width: 1px;
        height: 100vh;
        background-color: $border-gray;
        opacity: 0.25;
        z-index: 0;
      }

      &:first-of-type {
        background: none;
      }

      &__el {
        margin: auto;
        @include unselectable;
      }

      &:hover {
        cursor: copy;
      }
    }

    &__column {
      height: 95vh;
      display: grid;

      &__heure {
        font-size: 12px;
        position: relative;
        border-right: 1px solid $border-gray;

        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          width: 100vw;
          height: 1px;
          background-color: $border-gray;
          opacity: 0.25;
          z-index: 0;
        }

        &__entete {
          position: absolute;
          top: 5px;
          right: 5px;
          @include unselectable;
        }
      }

      &__creneau {
        background-color: rgba(0, 150, 0, 0.75);
        display: flex;
        border-radius: 8px;
        z-index: 2;
        transition: 0.15s ease-in-out;
        grid-column: 1;

        &__content {
          color: #FFFFFF;
          margin: auto;
          font-weight: bold;
          @include unselectable;
        }

        &:hover {
          cursor: pointer;
          opacity: 0.5;
        }
      }

      &__content {
        grid-column: 1;

        &:nth-child(odd):not(&--today):not(&--hour-6):not(&--hour-7):not(&--hour-8):not(&--hour-20):not(&--hour-21) {
          background-color: rgba(200, 200, 200, 0.05);
        }

        @each $hour in $hours {

          &--hour-#{$hour} {
            background-color: rgba(125, 125, 125, 0.1);
          }
        }

        &--today {
          background-color: rgba(125, 125, 125, 0.1);
        }

        &:hover {
          cursor: crosshair;
        }
      }
    }
  }
}
