<section class="calendar">
  <!-- ######## HEADER ######## -->
  <div class="calendar__header"></div>
  <div *ngFor="let day of getKeys(grid)"
       (click)="headerClick(day)"
       class="calendar__header">
    <span class="calendar__header__el">{{ day | date : 'dd / MM / yyyy' }}</span>
  </div>
  <!-- ######## HEURES ######## -->
  <div class="calendar__column">
    <div *ngFor="let heure of heures" class="calendar__column__heure">
      <span class="calendar__column__heure__entete">{{ heure }}h</span>
    </div>
  </div>
  <!-- ######## CONTENT ######## -->
  <div *ngFor="let day of getKeys(grid)"
       [ngStyle]="getColumnStyle"
       class="calendar__column">

    <div *ngFor="let hour of getValues(day)"
         [class]="'calendar__column__content ' + 'calendar__column__content--hour-'+hour"
         [ngClass]="day.getDate() === today.getDate() ? 'calendar__column__content--today' : ''"
         [ngStyle]="getPosition(hour)"
         (drop)="onDrop(day, hour)"
         (dragover)="allowDrop($event)"
         (mouseup)="mouseUp(day, hour)"
         (mousedown)="mouseDown(day, hour)">
    </div>

    <ng-container *ngFor="let creneau of creneaux">
      <div class="calendar__column__creneau"
           draggable="true"
           *ngIf="creneau.dateDebut.getDate() === day.getDate()"
           (dragstart)="onDragging(creneau)"
           (click)="removeCreneau(creneau)"
           [ngStyle]="getCreneauPosition(creneau)">
          <span class="calendar__column__creneau__content">
            {{ creneau.dateDebut.getHours() }}h - {{ creneau.dateFin.getHours() }}h
          </span>
      </div>
    </ng-container>
  </div>
</section>
